name: xx
on: push


jobs:
  build:
    runs-on: ubuntu-latest
    name: changed-files
    steps:
#      - uses: actions/checkout@v2
#       with:
#        fetch-depth: 0 
          
      - uses: DawChihLiou/changed-files-action@v1
        id: changed-files
        with:
          token: ${{ secrets.TOKEN }}
          output: 'string'
      - name: Echo files
        run: |
            echo "${{ steps.changed-files.outputs.filenames }}"
  count:
   runs-on: ubuntu-latest
   needs: build
   strategy:
     matrix:
       cf: ${{fromJSON(build.steps.changed-files.outputs.filenames}}
      
   steps:
     - run: pwd

