name: 'tab count'

on: push

jobs:

  checkout:
    runs-on: ubuntu-latest
    
    steps:
#      - name: checkout
#        uses: actions/checkout@v2.4.2
        
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: 'csv'
      - run: |
          mapfile -d ',' -t added_modified_files < <(printf '%s,' '${{ steps.files.outputs.added_modified }}')
          for added_modified_file in "${added_modified_files[@]}"; do
            echo `grep -o $'\t' ${added_modified_file} | wc -l`
          done
