name: xx
on: push


jobs:
  build:
    runs-on: ubuntu-latest
    name: changed-files
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 

      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: 'json'
        
  count:      
    runs-on: ubuntu-latest   
    needs: build
    strategy:
      matrix:
        cf: ${{needs.build.steps.files.outputs.added_modified}}
    steps:
      - name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed" >> files.log 2>&1
            echo "Count Tab in files: `grep -P '\t' $file | wc -l`" >> files.log 2>&1 
          done
