name: Challenge1

on: push

env:
  artifact: 'arti'

jobs:

  ubu:
    runs-on: ubuntu-latest
    steps:
      - name: first
        uses: actions/checkout@v2.4.2
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: arti
        

        

